/* .btn-primary{
margin-top: 50px;
}
.btn-danger {
  margin-top: 50px;
} */

table2 {
  background: #cfcfd654 0% 0% no-repeat padding-box;
  border: 2px solid #ff0303;
  border-radius: 10px;
  opacity: 1;
}
/* .btn-primary{
margin-top: 50px;
}
.btn-danger {
  margin-top: 50px;
} */
.cancel2 {
  margin-top: 51px;
  width: 150px;
}
