/* .Navitems{
    background-color: #333;
    color: #d3cdcf;
  
  }
  .Navitems h1{
    background-color: rgb(1, 7, 12);
    text-align: center;
  
  } */
  
  .Navitems h1{
    /* background-color: rgb(1, 7, 12); */
    text-align: center;
    color: #131011;
    margin-top:30px;
  
  }
